@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.imgs{
    border-radius: 20px;
}

.img2s{
    border-radius: 10px;
    cursor: pointer;
}

.hoverparents{
    position: relative;
}

.hoverlines::before{
    content:'';
    width: 100%;
    height: 3px;
    background-color: hsl(26, 100%, 55%);

    position: absolute;
    bottom: -21px;
    left: 0;

    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s;
}

.hoverlines:hover.hoverlines::before{
    transform: scale(1);
}

.hoverlines:hover{
    color: #000 !important;
    font-weight: bold;
}

#checkoutbtn,#profile{
    box-shadow: none;
}

#profile{
    border-radius: 100%;
}

.parentdivs{
    position: relative;
}

.hovercolors{
    width: 80px;
    height: 80px;
    background-color: #ffffffc0;
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 12px;

    cursor: pointer;
}

.textcolors{
    font-size: 16px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    letter-spacing: 1px;
}

.bgcolors{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}

.whitecolors{
    background-color: hsl(223, 64%, 98%);
}

.orangecolors{
    color: #fff;
    background-color: hsl(26, 100%, 55%);
}

#addbtn,#minusbtn{
    border: none;
    box-shadow: none;
}

#addcartbtn:active{
    transform: scale(0.98);
}

.profile.active .activeimg{
    border-radius: 100%;
    border: 2px solid hsl(26, 100%, 55%);
}

.modalboxs{
    width: 300px;
    background-color: rgb(255, 250, 250);

    position: absolute;
    top: 11%;
    right: 10%;

    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);

    display: none;
    animation-name: boxani;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.modalboxs.active{
    display: block;
}

@keyframes boxani {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}

.modalareas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1{
    width: 80px;
    height: 80px;
    background-image: url('../images/image-product-1-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.bg2{
    width: 80px;
    height: 80px;
    background-image: url('../images/image-product-2-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.bg3{
    width: 80px;
    height: 80px;
    background-image: url('../images/image-product-3-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.bg4{
    width: 80px;
    height: 80px;
    background-image: url('../images/image-product-4-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.boxs{
    position: relative;
    overflow: hidden;
}

.boxs::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: hsla(25, 100%, 94%, 0.616);

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 10px;

    visibility: hidden;
}

.boxs:hover.boxs::before{
    visibility: visible;
}

.boxs.active.boxs::before{
    visibility: visible;
}

.products{
    position: absolute;
    top: 10%;
    left: 50%;

    transform: translateX(-50%);
}

.modalbox2{
    background-color: rgba(0,0,0,0.8);

    position: absolute;
    inset: 0;
}

.product-container{
    position: relative;
}

#closebtn{
    margin-left: 400px;
    box-shadow: none;
}

.thumb-container{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imgbtn{
    position: absolute;
    top: 35%;
}

.imgbnt:focus{
    outline: none;
}

.imgbtn:active{
    transform: scale(0.98);
}

#prevbtn{
    box-shadow: none;
    left: -5%;
}

#nexbtn{
    box-shadow: none;
    right: 5%;
}

.modalbox2{
    display: none;
}

.img-carousel{
    width: 400px;
    display: flex;

    overflow: hidden;
}

#outbtn:active{
    transform: scale(0.98);
}

